* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(248, 241, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: white(217, 54, 54);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #ea3e3e;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #208939;
  color: white;
  border: solid #333;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

#productos, #carrito {
  margin-top: 10px;
}