.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  
}

#productos, #carrito {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.producto, #carrito li {
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 15px;
  color: red;
  
}
